.cdx-alert-coursive-achievement {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #ffffff;
}

.cdx-alert-coursive-achievement__message {
  outline: none;
}

.cdx-alert-coursive-achievement
  [contentEditable='true'][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #ffffff;
  font-weight: normal;
  opacity: 0;
}

.cdx-alert-coursive-achievement
  [contentEditable='true'][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-alert-coursive-achievement
  [contentEditable='true'][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.cdx-alert-coursive-achievement-cat {
  background-color: #db95e1;
}
.cdx-alert-coursive-achievement-chil {
  background-color: #e2daa1;
  color: #111111;
}
.cdx-alert-coursive-achievement-egg {
  background-color: #ff8568;
}
.cdx-alert-coursive-achievement-fish {
  background-color: #8ec8f9;
}
.cdx-alert-coursive-achievement-go {
  background-color: #c4adff;
}
.cdx-alert-coursive-achievement-izi {
  background-color: #e2daa1;
  color: #111111;
}
.cdx-alert-coursive-achievement-wolf {
  background-color: #bedb7a;
}

.cdx-alert-coursive-achievement.cdx-settings-button {
  margin: 3px;
  width: 28px;
  height: 28px;
  opacity: 0.5;
}

.cdx-alert-coursive-achievement.cdx-settings-button:hover {
  opacity: 1;
}

.cdx-alert-coursive-achievement.cdx-settings-button--active,
.cdx-alert-coursive-achievement.ce-settings__button--focused {
  font-weight: bold;
  opacity: 0.9;
}
